trigger:
  branches:
    include:
      - main
      - feature/*

pool: 
  name: application_pool

variables:
  - group: VG-DEV
    

stages:
  - stage: precheck
    displayName: pre-check
    jobs:
      - job: terraformvalidate
        displayName: Terraform Install & Validate
        steps:
          - task: TerraformInstaller@1
            displayName: terraform install
            inputs:
              terraformVersion: 'latest'
          - task: TerraformTask@5
            displayName: Terraform Fmt
            inputs:
              provider: 'azurerm'
              command: 'custom'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
              outputTo: 'console'
              customCommand: 'fmt'
              environmentServiceNameAzureRM: '$(svc)'
          - task: TerraformTask@5
            displayName: Terraform Init
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
              backendServiceArm: '$(svc)'
              backendAzureRmStorageAccountName: '$(storage)'
              backendAzureRmContainerName: '$(container)'
              backendAzureRmKey: '$(key)'
          
          - task: TerraformTask@5
            displayName: Terraform validate
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
      - job: tfsecurityscan
        dependsOn: terraformvalidate
        displayName: Security & Lint Scan
        continueOnError: true
        steps: 
          - task: tfsec@1
            displayName: tf_sec
            inputs:
              version: 'v1.26.0'
          - task: Bash@3
            continueOnError: true
            displayName: tflint
            inputs:
              targetType: 'inline'
              script: |
                curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
                tflint
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
                   
          - task: Bash@3
            displayName: Terrascan
            continueOnError: true
            inputs:
              targetType: 'inline'
              script: |
                curl -L https://github.com/tenable/terrascan/releases/latest/download/terrascan_Linux_x86_64.tar.gz -o terrascan.tar.gz
                tar -xzf terrascan.tar.gz
                chmod +x terrascan
                ./terrascan scan -t terraform -i terraform
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
               


              
              

   
              



