trigger:
  branches:
    include:
      - main
      - feature/*

pool: 
  name: application_pool

variables:
  - group: New variable group 19-Feb
    

stages:
  - stage: precommit
    displayName: pre-commit
    jobs:
      - job: terraforminstallvalidate
        displayName: terraform install
        steps:
          - task: TerraformInstaller@1
            displayName: terraform install
            inputs:
              terraformVersion: 'latest'
          - task: TerraformTask@5
            displayName: terraform fmt
            inputs:
              provider: 'azurerm'
              command: 'custom'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
              outputTo: 'console'
              customCommand: 'fmt'
              environmentServiceNameAzureRM: '$(svc)'
          - task: TerraformTask@5
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
              backendServiceArm: '$(svc)'
              backendAzureRmStorageAccountName: 'backendstg12354'
              backendAzureRmContainerName: 'my-container'
              backendAzureRmKey: 'terraform.tfstate'
          
          - task: TerraformTask@5
            displayName: validate
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
      - job: tflint
        dependsOn: terraforminstallvalidate
        displayName: tflint
        continueOnError: true
        steps: 
          - task: tfsec@1
            inputs:
              version: 'v1.26.0'
          - task: Bash@3
            continueOnError: true
            displayName: tflint
            inputs:
              targetType: 'inline'
              script: |
                curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash
                tflint
              workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
                   
              
               


              
              

   
              



