trigger:
  branches:
    include:
      - main
      - feature/*

pool: 
  name: application_pool

stages:
  - stage: precommit
    displayName: pre-commit
    jobs:
      - job: terraforminstaller
        displayName: terraform install
        steps:
          - task: TerraformInstaller@1
            displayName: terraform install]
            inputs:
              terraformVersion: latest
              
              

   
              



