trigger:
  branches:
    include:
      - main
      - feature/*

pool: 
  name: application_pool

variables:
  - group: New variable group 19-Feb
    

stages:
  - stage: precommit
    displayName: pre-commit
    jobs:
      - job: terraforminstallvalidate
        displayName: terraform install
        steps:
          - task: TerraformInstaller@1
            displayName: terraform install
            inputs:
              terraformVersion: 'latest'
          - task: TerraformTask@5
            displayName: terraform fmt
            inputs:
              provider: 'azurerm'
              command: 'custom'
              outputTo: 'console'
              customCommand: 'fmt'
              environmentServiceNameAzureRM: $(svc)
          - task: TerraformTask@5
            displayName: validate
            inputs:
              provider: 'azurerm'
              command: 'validate'
      - job: tflint
        dependsOn: terraforminstallvalidate
        displayName: tflint
        continueOnError: true
        steps: 
          - task: tfsec@1
            inputs:
              version: 'v1.26.0'
              
                   
              
               


              
              

   
              



